<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <section id="description">

        <!-- /row -->
        <h3>Instagram photos feed</h3>
        <div id="instagram-feed-hotel" class="clearfix"></div>
        <hr>

         <!-- <div class="room_type first">
          <div class="row">
            <div class="col-md-4">
              <img src="assets/img/rooms/room_comfort_style_fireplace.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-md-8">
              <h4>Single Room</h4>
              <p>Sit an meis aliquam, cetero inermis vel ut. An sit illum euismod facilisis, tamquam vulputate
                pertinacia eum at.</p>
              <ul class="hotel_facilities">
                <li><img src="img/hotel_facilites_icon_2.svg" alt="">Single Bed</li>
                <li><img src="img/hotel_facilites_icon_4.svg" alt="">Free Wifi</li>
                <li><img src="img/hotel_facilites_icon_5.svg" alt="">Shower</li>
                <li><img src="img/hotel_facilites_icon_7.svg" alt="">Air Condition</li>
                <li><img src="img/hotel_facilites_icon_8.svg" alt="">Hairdryer</li>
              </ul>
            </div>
          </div>
          
          
        </div> -->
       
         <!-- <div class="room_type gray">
          <div class="row">
            <div class="col-md-4">
              <img src="assets/img/rooms/room_furniture_light.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-md-8">
              <h4>Double Room</h4>
              <p>Sit an meis aliquam, cetero inermis vel ut. An sit illum euismod facilisis, tamquam vulputate
                pertinacia eum at.</p>
              <ul class="hotel_facilities">
                <li><img src="img/hotel_facilites_icon_3.svg" alt="">Double Bed</li>
                <li><img src="img/hotel_facilites_icon_4.svg" alt="">Free Wifi</li>
                <li><img src="img/hotel_facilites_icon_6.svg" alt="">Bathtub</li>
                <li><img src="img/hotel_facilites_icon_7.svg" alt="">Air Condition</li>
                <li><img src="img/hotel_facilites_icon_8.svg" alt="">Hairdryer</li>
              </ul>
            </div>
          </div>
          
        </div>  -->
  
         <!-- <div class="room_type last">
          <div class="row">
            <div class="col-md-4">
              <img src="assets/img/rooms/room_shelves_pillows.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-md-8">
              <h4>Suite Room</h4>
              <p>Sit an meis aliquam, cetero inermis vel ut. An sit illum euismod facilisis, tamquam vulputate
                pertinacia eum at.</p>
              <ul class="hotel_facilities">
                <li><img src="img/hotel_facilites_icon_3.svg" alt="">King size Bed</li>
                <li><img src="img/hotel_facilites_icon_4.svg" alt="">Free Wifi</li>
                <li><img src="img/hotel_facilites_icon_6.svg" alt="">Bathtub</li>
                <li><img src="img/hotel_facilites_icon_7.svg" alt="">Air Condition</li>
                <li><img src="img/hotel_facilites_icon_9.svg" alt="">Swimming pool</li>
                <li><img src="img/hotel_facilites_icon_3.svg" alt="">Hairdryer</li>
              </ul>
            </div>
          </div>
  
        </div>  -->
        <!-- /rom_type -->
   

    <div *ngFor="let item of images">
          <img src="{{item.image}}">
    </div>



      </section>
    </div>

  </div>

</div>
