<section id="places">

    <div class="container-fluid" data-aos="fade-up">

      <div class="section-header">
        <h2>Places</h2>
        <p>places location info and gallery</p>
      </div>

      <div class="row g-0">
        <div class="col-lg-6 places-map">
          <div id="map" ></div>
          <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13652.05386105063!2d29.9060892!3d31.19264!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x16cbff5d844ff34b!2z2YXYudmH2K8g2KrZg9mG2YjZhNmI2KzZitinINin2YTZhdi52YTZiNmF2KfYqiAtIElUSQ!5e0!3m2!1sar!2seg!4v1624666613285!5m2!1sar!2seg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>           -->
        </div>

        <div class="col-lg-6 place-info">
          <div class="row justify-content-center">
            <div class="col-11 col-lg-8 position-relative">
              <h3>Information Technology Institute, Alexandria</h3>
              <p> Founded over two decades ago, the Information Technology Institute (ITI) provides world-class professional human capacity
                building programs, hands-on training and an exposure to the latest technology trends for university students and
                graduates, academia and professionals, in collaboration with a wide network of partners from the ICT industry, the
                academia, and the community.</p>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="container-fluid places-gallery-container" data-aos="fade-up" data-aos-delay="100">
      <div class="row g-0">

        <div class="col-lg-3 col-md-4">
          <div class="place-gallery">
            <a href="assets/img/cities/germany_area_building_home_church_flowers_hdr.jpg" class="glightbox" data-gall="places-gallery">
              <img src="assets/img/cities/germany_area_building_home_church_flowers_hdr.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="places-gallery">
            <a href="assets/img/cities/germany_cochem_mosel_river_castle.jpg" class="glightbox" data-gall="places-gallery">
              <img src="assets/img/cities/germany_cochem_mosel_river_castle.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="places-gallery">
            <a href="assets/img/cities/hong_kong_china_skyscrapers_night_city_city_lights.jpg" class="glightbox" data-gall="places-gallery">
              <img src="assets/img/cities/hong_kong_china_skyscrapers_night_city_city_lights.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="places-gallery">
            <a href="assets/img/cities/limburg_germany_castle_trees_houses.jpg" class="glightbox" data-gall="places-gallery">
              <img src="assets/img/cities/limburg_germany_castle_trees_houses.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="places-gallery">
            <a href="assets/img/cities/mountains_night_building_sky.jpg" class="glightbox" data-gall="places-gallery">
              <img src="assets/img/cities/mountains_night_building_sky.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="places-gallery">
            <a href="assets/img/cities/night_city_aerial_view_city_lights.jpg" class="glightbox" data-gall="places-gallery">
              <img src="assets/img/cities/night_city_aerial_view_city_lights.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="places-gallery">
            <a href="assets/img/cities/night_city_aerial_view_lights_city.jpg" class="glightbox" data-gall="places-gallery">
              <img src="assets/img/cities/night_city_aerial_view_lights_city.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="places-gallery">
            <a href="assets/img/cities/night_city_architecture_bridge.jpg" class="glightbox" data-gall="places-gallery">
              <img src="assets/img/cities/night_city_architecture_bridge.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

      </div>
    </div>

  </section>
